[submodule "sources_custom/molokai"]
	path = sources_custom/molokai
	url = git@github.com:tomasr/molokai.git
	ignore = dirty
[submodule "sources_custom/rainbow_parentheses.vim"]
	path = sources_custom/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
	ignore = dirty
[submodule "sources_custom/gundo.vim"]
	path = sources_custom/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
	ignore = dirty
[submodule "sources_custom/supertab"]
	path = sources_custom/supertab
	url = git@github.com:ervandew/supertab.git
	ignore = dirty
[submodule "sources_custom/tagbar"]
	path = sources_custom/tagbar
	url = git@github.com:majutsushi/tagbar.git
	ignore = dirty
[submodule "sources_custom/detectindent"]
	path = sources_custom/detectindent
	url = git@github.com:ciaranm/detectindent.git
	ignore = dirty
[submodule "sources_custom/vim-markdown-preview"]
	path = sources_custom/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview
[submodule "sources_custom/vim-markdown"]
	path = sources_custom/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "sources_custom/vim-ps1"]
	path = sources_custom/vim-ps1
	url = git@github.com:PProvost/vim-ps1.git
